
<div>
    <form method="get" action="/search">
        <input aria-label="rue" name="rue" placeholder="Rue" type="search">
        <input aria-label="ville" name="ville" placeholder="Ville" type="search">
        <input aria-label="cp" name="cp" placeholder="Code postal" type="search">
        <button type="submit">Rechercher</button>
    </form>
</div>