
<div>
    <form class="search_bar" method="get" action="/search">
        <input class="textField" aria-label="rue" name="rue" placeholder="Rue" type="search">
        <input class="textField" aria-label="ville" name="ville" placeholder="Ville" type="search">
        <input class="textField" aria-label="cp" name="cp" placeholder="Code postal" type="search">
        <button class="button_search_bar" type="submit">Rechercher</button>
    </form>
</div>