<div class="adresse">
    <p class="adresseName">{{ adresse.properties.name }}</p>
    <div class="adresseVille">
        <p>{{ adresse.properties.postcode }} - {{ adresse.properties.city}}</p>
    </div>
</div>