<div class="adresse">
    <p>{{ adresse.properties.name }}</p>
    <div class="adresseVille">
        <p>{{ adresse.properties.postcode }}</p>
        <p>{{ adresse.properties.city}}</p>
    </div>
</div>